beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cryptography==2.9.2
et-xmlfile==1.0.1
fake-useragent==0.1.11
html5lib==1.0.1
idna==2.9
jdcal==1.4.1
lxml==4.5.1
numpy==1.18.4
openpyxl==3.0.3
pandas==1.0.3
pycparser==2.20
pyOpenSSL==19.1.0
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.25.9
webencodings==0.5.1
xlrd==1.2.0
